/sets filter=lfs diff=lfs merge=lfs -text
/sets/gallery_imgs.dat filter=lfs diff=lfs merge=lfs -text
/sets/train_imgs.dat filter=lfs diff=lfs merge=lfs -text
/sets/train_queries.dat filter=lfs diff=lfs merge=lfs -text
/sets/validation_queries.dat filter=lfs diff=lfs merge=lfs -text
